# Servidor
HOST=localhost
PORT=3001

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password
DATABASE=cleanerp_db

# JWT
JWT_SECRET=supercalifragilisticoespialidoso